.primary-color {
    color: #fc5b62 !important;
}
.text-black-20{
    color: rgba(0, 0, 0, .2) !important;
}
.text-shadow {
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}
.site-logo a{
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    span {       
	    color: #fc5b62;
    }
}
#navigation {
    max-width: 100vw;
    
    &.navbar-fixed {
        padding: 25px 0;
    }
    #mobile-button {
        position: absolute;
        right: 15px;
        span {
            font-size: 2em;
            color: #fff;
        }
    }
    #mobile_menu {
        display:none;
        opacity: 0;
        ul {
            position: relative;
            top: 0px;
            left: 0px;
            width: 100vw;
            z-index: 1000;
            margin-top: 20px;
            list-style-type: none;
            li {
                text-align: center;
                margin: 5px;
                ul {
                    padding: 0;
                    width: 100%;
                    background: rgba(255, 255, 255, 0.05);
                    a {
                        padding: 0;
                    }
                }
            }
        }
    }
    #main-menu {
        margin-top: 0px;
    }
}


#home {
    position: relative;
    height: 100vh;
    overflow: hidden;
    .hero-text {
        h1 {
            @media only screen and (max-width: 1300px) {
                padding-left: 15%;
                padding-right: 15%;
            }
            @media only screen and (max-width: 767px) {
                font-size: 3em;
            }
            @media only screen and (max-width: 575px) {
                font-size: 2em;
            }
        }
    }
    img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(60%);
        box-shadow: -20px -50px 100px rgba(0, 0, 0, .4);
    }
    #sliderPrev, #sliderNext{
        position: absolute;
        margin-bottom: 120px;
        padding: 15px 15px 10px 15px;
        background: rgba(0, 0, 0, .4);
        span {
            font-size: 2em;
            color: #fff;
        }
        @media only screen and (max-width: 575px) {
            padding: 10px 10px 5px 10px
        }
    }
    #sliderPrev {
        left: 50px;
        @media only screen and (max-width: 575px) {
            left: 10px;
        }
    }

    #sliderNext {
        right: 50px;
        @media only screen and (max-width: 575px) {
            right: 10px;
        }
    }

}
#dealsWrapper{
    position: relative; 
    .deals-backBtn{
        position: absolute;
        top: -45px;
        left: 0px;
        margin-left: 15px;
        font-size: 1.2em;
    }
}
.modal {
    background: rgba(0, 0, 0, .0);
    overflow-y: scroll;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s, opacity .2s, background .5s;
    .modal-dialog {
        transition: transform .2s;
        transform: scale(.9,.9);
    }
    &.modalShow {
        visibility: visible;
        opacity: 1;
        background: rgba(0, 0, 0, .4);
        .modal-dialog {
            transform: scale(1,1);
        }
    }
    span.icofont-close-line{
        font-size: 1.3em;
    }
    #people option{
        color: #000;
    }
}
.single_package {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.error-message{
    display: none;
    font-size: 14px;
    line-height: 15px;
}
.error-icon {
    display: none;
    position: absolute;
    color: #fff;
    left: -8px;
    top: 10px;
    font-size: 1.2em;
}
.success-message {
    display: none;
}
.pack_image {
    @media only screen and (min-width: 992px){
        height: 350px;
    }
}
#why_choose {
    opacity: 0;
    overflow: hidden;
}
#statistics {
    margin-top: 100px;
}
.contact {
    .form-control{
        margin-bottom: 0px;
    }
    .word-count {
        position: absolute;
        display: none;
        font-size: 12px;
        top: 5px;
        right: 40px;
    }
}
.lg-backdrop {
    background: rgba(0, 0, 0, .85);
}
.single-gallery {
    img {
        height: 100%;
        object-fit: cover;
    }
}
.testimonial {
    background-image: url("../img/bg/section-bg.jpg");
    overflow: hidden;
    #testimonial-wrapper {
        #testimonial-slider {
            min-height: 600px;
            @media only screen and (min-width: 992px){
                min-height: 400px;
            }
            .single-testimonial {
                position: relative;
                opacity: 0;
                display: none;
            }
        }
        #tNext, #tPrev {
            display: none;
            position: absolute;
            font-size: 2em;
            background: rgba(0, 0, 0, .4);
            padding: 10px;
        }
        #tNext{
            right: 50px;
        }
        #tPrev {
            left: 50px;
        }
    }
}

